.btnAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 0;
  color: #fff;
  background-color: #6667ab;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 20%;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    background-color: #341c78;
    color: #fff;
    font-weight: bold;
  }
}
