.header {
  display: flex;
  align-items: center;
  padding: 5px 10px 20px 10px;
}
.btnAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 0;
  color: #fff;
  background-color: #6667ab;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 20%;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    background-color: #341c78;
    color: #fff;
    font-weight: bold;
  }
}
.questionsStyle {
  display: flex;
  font-weight: bold;
  font-size: 15px;
  .btnHint {
    display: block;
    border: none;
    background: none;
    color: #341c78;
    font-size: 20px;
    &:hover {
      color: #fbff00;
    }
  }
  .btnDelete {
    display: block;
    border: none;
    background: none;
    color: #341c78;
    font-size: 20px;
    &:hover{
      color: #f70000;
    }
  }
  .btnEdit{
    border: none;
    background:none;
    color: #341c78;
    font-size: 20px;
    &:hover{
      color: #09ff00;
    }
  }
  .btnList {
    border: none;
    background-color: #fff;
    font-size:19px;
    .iconList {
      &:hover {
        color: #341c78;
      }
    }
  }
}

.greenBackground {
  display: inline;
  font-weight: bold;
  background-color: green;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}

.errorStyle {
  display: flex;
  width: 100%;
  border-radius: 4px;
  border-left: solid rgb(239 68 68);
  background-color: rgb(254 226 226);
  color: rgb(185 28 28);
  padding: 2px;
  margin-bottom: 5px;
  .titleErrorStyle {
    font-weight: bold;
    padding: 0 5px 0 0;
  }
}
.inputStyle {
  padding: 3px;
  .span {
    font-weight: bold;
  }
}
.divBtnSave {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  .btnSave {
    width: 20%;
    background-color: #6667ab;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    &:hover {
      background-color: #341c78;
      color: #fff;
    }
  }
  .btnBack{
    color: #6667ab;
    &:hover{
      color: #341c78;
    }
  }
}
