.h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.newAccount {
  margin: 10px 0 0 30px;
  .newAccountBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    background-color: #6667AB;
    text-decoration: none;
    &:hover {
      background-color: #341c78;
      color: #fff;
    }

    .i {
      margin: 0 10px 0 0;
    }
  }
}

.table {
  margin: 20px 30px 0 0;
  .btns {
    display: flex;
    justify-content: center;
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px 0 0;
      font-weight: bold;
    }
  }
}

.form {
  margin: 0 350px 0 350px;
  .titleUpdate {
    display: flex;
    justify-content: center;
  }
  .link {
    color: #341c78;
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
  .btnNewAccount {
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 40px;
    background-color: #b79bff;
    font-weight: bold;
    &:hover {
      font-weight: bold;
      background-color: #341c78;
      color: #fff;
    }
  }
  .errorStyle {
    border-radius: 4px;
    border-left: solid rgb(239 68 68);
    background-color: rgb(254 226 226);
    color: rgb(185 28 28);
    margin-bottom: 5px;
    .titleErrorStyle {
      font-weight: bold;
    }
  }
}
